@model IEnumerable<TestShop.Models.Category>

@{
    ViewBag.Title = "Категории товаров";
}

<section class="dashboard-counts section-padding charts">
    <div class="container-fluid">
        <p>
            <a href="/Admin/Category/Create" class="btn btn-primary dialog" title="Новая категория">Добавить</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Количество товаров</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.Products.Count (<a href="/Admin/Product/Index/@item.Id">открыть список</a>)
                    </td>
                    <td>
                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "dialog", @title = "Изменить" }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "dialog", @title = "Удалить" })
                    </td>
                </tr>
            }

        </table>
    </div>
</section>